.btn {
  background-color: $off-white;
  border-radius: 25px;
  height: 50px;
  width: 80%;
  max-width: 250px;
  margin-top: $mgn;
  margin-bottom: $mgn;
  line-height: 35px;
  @extend .fsc;
  @extend .font-md;
}
