@mixin box-shadow-gen($box-shadow) {
  -webkit-box-shadow: $box-shadow;
  -moz-box-shadow: $box-shadow;
  box-shadow: $box-shadow;
}

.module-card {
  display: block;
  min-height: 270px;
  background-color: $off-white;
  color: $navy;
  border-radius: $br-md;
  margin-top: $mgn;
  margin-bottom: $mgn;
  cursor: pointer;
  padding: $mgn-md;
  transition: $fast-ease;
  background-image: url('https://ds055uzetaobb.cloudfront.net/brioche/uploads/rHpmPKo6lq-fsm_prob1.png?width=1200');
  background-size: cover;
  background-repeat: none;
  @include box-shadow-gen(10px 10px 31px -3px rgba(0,0,0,0.15));
  &:hover {
    margin-top: $mgn-sm;
    transition: $fast-ease;
    @include box-shadow-gen(12px 12px 31px -3px rgba(0,0,0,0.3));
  }
  & .title {
    @extend .font-lg;
    @extend .fsc;
    font-weight: $x-light;
    position: absolute;
    width: 74%;
    text-align: center;
    bottom: $mgn-xl;
  }
  // module specific backgrounds
  &.linked-lists {
    background-image: url('../assets/images/sparknodes-card-linkedlists.png');
  }
  &.binary-tree {
    background-image: url('../assets/images/sparknodes-card-binarytree.png');
  }
  &.time-complexity {
    background-image: url('../assets/images/sparknodes-card-timecomplexity.png');
  }
  &.heap {
    background-image: url('../assets/images/sparknodes-card-heap.png');
  }
  &.finite-state-automata {
    background-image: url('../assets/images/sparknodes-card-finitestateautomata.png');
  }
  &.hash-table {
    background-image: url('../assets/images/sparknodes-card-hashtable.png');
  }
}
