.module-card {
  height: 250px;
  background-color: $white;
  color: $navy;
  border-radius: $br;
  margin-top: $mgn;
  margin-bottom: $mgn;
  padding: $mgn;
  & .title {
    @extend .text-center;
    @extend .font-md;
    color: $navy;
  }
}
