.module-page {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  & h2 {
    font-weight: $bold;
  }
  & h3 {
    font-weight: $regular;
  }
  & .left {
    @extend .full-height;
    @extend .fsc;
    background-color: $off-white;
    padding: $mgn-md;
    & .fmc {
      color: $off-black;
    }
  }
  & .right {
    padding: $mgn-md;
    @extend .full-height;
  }
}
