h1 {
  font-size: 4rem;
  font-weight: $bold;
}

h2 {
  font-size: 2rem;
  &.bold {
    font-weight: $bold;
  }
}

h3 {
  font-size: 1.2rem;
  font-weight: $x-light;
}

.theme-dark {
  & .fmc {
    color: $white;
  }
  & .fsc {
    color: $off-black
  }
}
.theme-light {
  & .fmc {
    color: $off-black;
  }
  & .fsc {
    color: $off-white
  }
}


.font-lg {
  @extend .fmc;
  font-size: 1.5rem;
}

.font-md {
  @extend .fmc;
  font-size: 1.2rem;
}

.font-sm {
  @extend .fmc;
  font-size: 1rem;
}

.text-center {
  @extend .fmc;
  text-align: center;
}
