$font-main: 'Nunito', sans-serif;

$light: 200;
$regular: 300;
$bold: 400;

$navy: #13202f;
$white: #ffffff;
$green-ochre: #9ba229;
$off-black: #171717;
$off-white: #F1F1F1;

// global border radius
$br: 10px;

// cell margin
$mgn: 15px;

// easing
$fast-ease: 0.3s ease-in-out;
$mid-ease: 0.5s ease-in-out;
$slow-ease: 0.7s ease-in-out;
