html, body {
  @extend .font-sm;
  font-family: $font-main;
  font-weight: $regular;
  background-color: $navy;
  color: $white;
}

.landing {
  transition: $mid-ease;
  width: 90vw;
  max-width: 900px;
  transition: $mid-ease;
  &.middle {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
  &.top {
    margin-top: 3vh;
  }
}
