html, body {
  @extend .font-sm;
  font-family: $font-main;
  font-weight: $regular;
  background-color: $navy;
  color: $white;
}

.main {
  width: 90vw;
  max-width: 900px;
  transition: $fast-ease;
}

.landing {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  transition: $fast-ease;
}
