@import './themes/theme.scss';

html, body {
  @extend .font-sm;
  font-family: $font-main;
  font-weight: $light;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  transition: $fast-ease;
  &.theme-dark {
    background-color: $off-black;
    color: $off-white;
  }
  &.theme-light {
    background-color: $off-white;
    color: $off-black;
  }
}

.landing {
  transition: $mid-ease;
  width: 90vw;
  max-width: 900px;
  padding-bottom: 3vh;
  & .middle {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
  & .top {
    padding-top: 3vh;
  }
}

.page {
  min-height: 100vh;
  &.dark {
    background-color: $off-black;
    & .font-main-color {
      color: $white;
    }
  }
  &.light {
    background-color: $white;
    & .font-main-color {
      color: $off-black;
    }
  }
}

.full-height {
  height: 100vh;
}

.transition-group {
  position: relative;
}

.route-section {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
